// SECTION :: START

section#platinum.platinum
  .c-grid
    .platinum__wrapper

      .platinum__content
        img(src="img/img-logo-manu.svg" alt="")
        h2.platinum__title.c-title.c-title--center(data-aos="fade-up") platinum
        p.platinum__subtitle(data-aos="fade-up") plastic surgery
        p.platinum__desc.c-desc.c-desc--center(data-aos="fade-up") Welcome to our plastic surgery practice! We are a modern, facility located in the Seven Hills area of Henderson, NV offering a variety of top-of-the-line surgical and nonsurgical treatments to help you get to your desired aesthetic goals. We are proud to be able to offer breast augmentation, facelifts, mommy makeovers, and many other procedures designed to meet your individual needs and provide beautiful, natural results for a long-term outcome. Dr. Chris Costa and his team welcome you to Platinum Plastic Surgery, and invite you to schedule a consult for a personalized assessment and treatment plan that will enhance your natural beauty!
        .platinum__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up")
          a.c-btn(href="#")
            i
            span READ MORE

// SECTION :: END
