// SECTION :: START

section#contacts.contacts
  .c-grid
    .contacts__wrapper

      h2.contacts__title.c-title.c-title--small.c-title--center SCHEDULE A CONSULTATION
      p.contacts__desc.c-desc.c-desc--center Our friendly, highly-trained staff will take care of your scheduling needs and put you in touch with our staff for a consultation that could change your life. Contact us today to schedule your consultation. We offer in-person and virtual appointments to better accommodate your needs. You can also call us at 999.999.9999 to schedule an appointment.

      form.contacts__form(action='' method='' autocomplete='off')
        .contacts__form-group
          div
            .contacts__form-field
              label
                input(type='text' placeholder='Full Name*')
          div
            .contacts__form-field
              label
                input(type='tel' placeholder='Phone*')
        .contacts__form-group
          div
            .contacts__form-field
              label
                input(type='email' placeholder='Email Address*')
          div
            .contacts__form-field
              label
                select
                  option Procedure of Interest
                  option Procedure of Interest
        .contacts__form-group
          div
            .contacts__form-field
              label
                select
                  option How did you hear about us?
                  option How did you hear about us?
          div
            .contacts__form-field
              label
                select
                  option Best time to reach you
                  option Best time to reach you
        .contacts__form-field
          label
            textarea(placeholder='How can we help you?')
        .contacts__form-field.contact__form-field--btn
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='button')
              i
              span SEND MESSAGE

// SECTION :: END
