// SECTION :: START

section#consult.consult
  .c-grid
    .consult__wrapper.consult__wrapper-1
      .consult__wrapper-left
        .c-header.c-header--center.c-header--white(data-aos="fade-up")
          div
            p.c-label.c-label--white VIRTUAL
            p.c-title.c-title--white CONSULT
          div
            span Visiting our office is easier than ever!

        p.c-desc.c-desc--white(data-aos="fade-up")!= "Platinum Plastic Surgery is now conveniently offering online consultations. Meet with us virtually from the comfort of your own home. Our Virtual Consultation is <strong>FREE!</strong>"

        .c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up")
          a.c-btn(href="#")
            i
            span CLICK HERE

      .consult__wrapper-right
        img(src="img/img-consult-1.jpg" srcset="img/img-consult-1@2x.jpg 2x" alt="" data-aos="fade-up")
    .consult__wrapper.consult__wrapper-2
      .consult__wrapper-left
        .c-header.c-header--center.c-header--white(data-aos="fade-up")
          div
            p.c-label.c-label--white MY PATIENT
            p.c-title.c-title--white NOW
          div
            span Focus on Patients Not Paperwork

        p.c-desc.c-desc--white(data-aos="fade-up")!= "All medical records, charts, forms, photos, videos, correspondence and clinical notes are conveniently stored together and accessible from any device."

        .c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up")
          a.c-btn(href="#")
            i
            span CLICK HERE

      .consult__wrapper-right
        img(src="img/img-consult-2.jpg" srcset="img/img-consult-2@2x.jpg 2x" alt="" data-aos="fade-up")

// SECTION :: END
