// SECTION :: START

section#financing.financing
  .c-grid
    .financing__wrapper

      p.financing__label.c-label.c-label--center(data-aos="fade-up") PLASTIC SURGERY
      h2.financing__title.c-title.c-title--center(data-aos="fade-up") FINANCING
      p.financing__desc.c-desc.c-desc--center(data-aos="fade-up") At Platinum Plastic Surgery, we want to provide beautiful, natural results that meet your individual needs. Our team’s primary mission is to deliver the finest and most comprehensive surgical and nonsurgical services available today. For your convenience, Platinum Plastic Surgery offers financing options which can be seen below.

      .financing__box-wrapper
        div
          .financing__box(data-aos="fade-up")
            .financing__box-head
              img(src="img/logo-carecredit.svg" alt="")
            .financing__box-body
              p.c-desc.c-desc--white.c-desc--center CareCredit is a company that provides patients with credit for their elective procedures, offering short-term, 0% interest payment plans and low-interest, extended payment plans. CareCredit has no up-front costs, no fees and no pre-payment penalties.
            .financing__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span LEARN MORE
        div
          .financing__box(data-aos="fade-up")
            .financing__box-head
              img(src="img/logo-alphaeon.svg" alt="")
            .financing__box-body
              p.c-desc.c-desc--white.c-desc--center Exclusively offered by certain physicians, ALPHAEON Credit will provide you with a wide array of flexible, monthly payment options to help you reach your individual wellness and beauty goals.
            .financing__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span LEAVE A REVIEW

// SECTION :: END
