// SECTION :: START

section#leave.leave
  .c-grid
    .leave__wrapper

      h2.leave__title.c-title.c-title--small.c-title--center(data-aos="fade-up") Leave us a review!
      p.leave__desc.c-desc.c-desc--center(data-aos="fade-up") We hope you’ve had an outstanding journey of transformation with us. Now, we would appreciate your feedback. Please click on your preferred review site below to share your #PlatinumPlasticSurgery with the world.

      .leave__box-wrapper
        div(data-aos="fade-up")
          .leave__box
            i.icon-font.icon-facebook
            p FACEBOOK
        div(data-aos="fade-up")
          .leave__box
            i.icon-font.icon-google
            p GOOGLE
        div(data-aos="fade-up")
          .leave__box
            i.icon-font.icon-is
            p REALSELF
        div(data-aos="fade-up")
          .leave__box
            i.icon-font.icon-star-logo
            p YELP
        div(data-aos="fade-up")
          .leave__box
            i.icon-font.icon-heart-logo
            p HEALTHGRADES

// SECTION :: END
