// SECTION :: START

section#achievements.achievements
  .c-grid
    .achievements__wrapper
      div

        h2.achievements__title.c-title(data-aos="fade-up") Achievements & Affiliations
        p.achievements__desc.c-desc(data-aos="fade-up") Dr. Costa is Board Certified by the American Board of Plastic Surgery. In addition, he has also had his research published in prestigious medical journals such as the Plastic and Reconstructive Surgery and Aesthetic Surgery Journal. Dr. Costa believes that plastic surgery is the most innovative field in all of medicine and strives to always be on the cusp of what is new. He prides himself on running a practice that is evidence based, and he is constantly looking for ways to improve outcomes for his patients by offering them the newest and best innovations and technology in plastic surgery.  Dr. Costa is one of the highest top-rated plastic surgeons in Las Vegas and has won numerous awards for Best of Las Vegas for his work in cosmetic and reconstructive surgery, breast augmentation, rhinoplasty, and liposuction techniques.

      div

        .achievements__box
          div(data-aos="fade-up")
            img(src="img/img-achievements-1.png" srcset="img/img-achievements-1@2x.png 2x" alt="")
          div(data-aos="fade-up")
            img(src="img/img-achievements-2.png" srcset="img/img-achievements-2@2x.png 2x" alt="")
          div(data-aos="fade-up")
            img(src="img/img-achievements-3.png" srcset="img/img-achievements-3@2x.png 2x" alt="")
          div(data-aos="fade-up")
            img(src="img/img-achievements-4.png" srcset="img/img-achievements-4@2x.png 2x" alt="")

// SECTION :: END
