// SECTION :: START

section#education.education
  .c-grid
    .education__wrapper
      .education__wrapper-left

        img(src="img/img-education-1.jpg" srcset="img/img-education-1@2x.jpg 2x" alt="" data-aos="fade-up")

      .education__wrapper-middle
        div
          h2.education__title.c-title.c-title--center(data-aos="fade-up") Education & training
          p.education__desc.c-desc.c-desc--center(data-aos="fade-up") Dr. Costa has had the opportunity to train with some of the world’s leading experts in plastic surgery. Prior to establishing his practice, he completed his plastic surgery training at the UT Southwestern Medical Center in Dallas, Texas, the #1 ranked plastic surgery residency in the United States. Here he excelled while learning the most advanced techniques in all aspects of plastic surgery including, but not limited to: breast reconstruction,  breast augmentation, rhinoplasty, and facial rejuvenation surgery.
          p.education__desc.c-desc.c-desc--center(data-aos="fade-up") Dr. Costa’s abilities were built on a foundation of surgical skills and knowledge, which began long before his plastic surgery training. He initially completed his first year of surgical training in Boston, MA at one of the Harvard Medical School teaching hospitals, Beth Israel Deaconess Medical Center. From there his passion for surgery and science led him to Baltimore, MD where he continued to work in the field of surgery in addition to doing research. He returned to school to complete a MPH (Master of Public Health) degree in biostatistics and epidemiology from the Johns Hopkins University, Bloomberg School of Public Health (ranked #1 in the country).
          p.education__desc.c-desc.c-desc--center(data-aos="fade-up") Prior to becoming a surgeon, Dr. Costa lived in Oahu, Hawaii and he prides himself from the training he recieved while there. He holds dual Bachelors in Science from the Hawaii Pacific University prior to attending the University of Hawaii, John A. Burns School of Medicine, to complete his medical degree.

      .education__wrapper-right

        img(src="img/img-education-2.jpg" srcset="img/img-education-2@2x.jpg 2x" alt="" data-aos="fade-up")

// SECTION :: END
