// SECTION :: START

section#meet.meet
  .c-grid
    .meet__wrapper.meet__wrapper-1
      div
        p.meet__label.c-label MEET THE DOCTOR
        h2.meet__title.c-title Dr. Costa is a board-certified plastic surgeon and aesthetic providers offering the finest in plastic surgery and medspa services.
        p.meet__desc.c-desc Dr. Chris Costa is a Nevada native who serves the greater Las Vegas and Henderson area through his private plastic surgery practice, Platinum Plastic Surgery. Dr. Costa specializes in providing cosmetic procedures of the face and body to individuals who are seeking to enhance their aesthetic appearance while also improving function and achieving a natural look.
        p.meet__desc.c-desc Dr. Costa is passionate about providing the latest techniques and services to his clients, constantly staying at the forefront of research in the industry and incorporating innovative ways to create the best outcomes for his patients.
      div
        img(src="img/img-meet-1.png" srcset="img/img-meet-1@2x.png 2x" alt="")
        img(src="img/img-meet-2.png" srcset="img/img-meet-2@2x.png 2x" alt="")
    .meet__wrapper.meet__wrapper-2
      div
        h3.meet__title.c-title!= "Skills & <br>Specialties"
        p.meet__desc.c-desc With his diverse range of skills, Dr. Costa is able to provide both surgical and nonsurgical solutions for patients who are looking for rejuvenation for the face and body. Highly refined techniques in cosmetic approaches have allowed plastic surgeons to use a unique blend of both surgical and nonsurgical treatments to help patients age gracefully through each decade. Dr. Costa prides himself in using the most advanced methods associated with facelifts, brow lifts, neck lifts rhinoplasty, and breast augmentation. For nonsurgical options, Dr. Costa offers facial peels, injectable fillers (such as Tear Trough / Under Eye Fillers, Lip Fillers, and V-Line Facial Slimming), BOTOX, and Liquid Rhinoplasty — all administered conveniently on-site.
      div
        img(src="img/img-meet-3.png" srcset="img/img-meet-3@2x.png 2x" alt="")
    .meet__wrapper.meet__wrapper-3
      div
        p.meet__desc.c-desc Dr. Costa is fully versed in all forms of plastic surgery from head to toe. Some of the top procedures he performs are breast augmentations with implants or fat transfer, breast lift surgery, and breast reduction surgery. Offering a number of body contouring treatments, Dr. Costa is able to reshape and add contour with treatments such as abdominoplasty, liposuction, Brazilian butt lift, and the popular mommy makeover procedure.
      div
        img(src="img/icon-schedule.svg" alt="")
      div
        p.meet__desc.c-desc In addition, Dr. Costa has a special interest in East Asian cosmetic surgery from the many years he spent living in Hawaii. He has sought out to learn the subtle differences of Asian cosmetic surgery versus Caucasian cosmetic surgery and, as a result, offers procedures specific to the needs and body types of Asian patients. Some of these procedures include double-eyelid surgery, breast augmentation without a scar on the breast, facial contouring, and Asian rhinoplasty.

    .meet__wrapper.meet__wrapper-4

      img.meet__best(src="img/best-badge.svg" alt="")

// SECTION :: END
