// SECTION :: START

section#anatomy.anatomy
  .c-grid
    .anatomy__wrapper.anatomy__wrapper-1
      .anatomy__wrapper-left
        div

          h2.anatomy__title.c-title!= "The Anatomy <br>of the Nose"
          p.anatomy__desc.c-desc Our nose plays an important role in how we experience the world and how others see us. Dr. Costa has a thorough understanding of the anatomy of the nose and always takes into consideration the important surrounding structures (such as the bones and cartilage) while performing rhinoplasty surgery. We always seek to preserve the natural function of your nose while improving your external appearance.

      .anatomy__wrapper-right

        p.anatomy__subtitle Below are the structures we address during surgery:

        .anatomy__box-wrapper
          div
            .anatomy__box
              div
                p.c-title.c-title--small.c-title--white SKIN:
              div
                p.c-desc.c-desc--white The skin of the upper portion of the nose is thinner and more mobile, while the lower portion has thicker and less flexible skin.
          div
            .anatomy__box
              div
                p.c-title.c-title--small.c-title--white Bones:
              div
                p.c-desc.c-desc--white There are two thin bones that sit at the top of the nose, which can be different sizes depending on the individual. The bones project out and are partially responsible for the hump that can develop along the bridge or dorsum of the nose.

    .anatomy__box-wrapper
      div
        .anatomy__box
          div
            p.c-title.c-title--small.c-title--white Cartilage:
          div
            p.c-desc.c-desc--white The nose is supported by five distinct cartilage structures that give the nose shape. These are called the upper lateral cartilages, lower lateral cartilages, and nasal septum. The upper lateral cartilages make up the mid-vault portion of the nose and dorsum. If they are too high, they can contribute to a dorsal hump on the nose. If they are too low, they can create a depression in the middle of the nose. The lower lateral cartilage helps define the nasal tip. The nasal septum is a straight piece of cartilage that splits down the center of the nose between the nostrils. In some cases, the septum may be warped or deviated, making it difficult to breathe. Often a part of the septum may be harvested to be used for grafts to support the structure of the nose.

    .anatomy__wrapper.anatomy__wrapper-2
      .anatomy__wrapper-left
        div

          h2.anatomy__title.c-title!= "Who is a Candidate <br>for rhinoplasty?"
          p.anatomy__desc.c-desc Adults and teenagers over 16 years of age are candidates for rhinoplasty. If you find yourself frustrated with your nose and have distinct issues you hope to improve, enhance, or correct, Dr. Costa can help. Many people who desire nose surgery are unhappy with a crooked bridge or hump. Additionally, the tip of the nose may be too large (bulbous) or boxy and require refinement. Others may have a deformity that limits their ability to breathe. In this case, Dr. Costa can perform a septoplasty or turbinoplasty to improve nose function. Patients often desire to have this procedure performed at the same time as a cosmetic rhinoplasty to alter the shape of their nose.

      .anatomy__wrapper-right

        img(src="img/img-anatomy.jpg" srcset="img/img-anatomy@2x.jpg 2x" alt="")

// SECTION :: END
