// SECTION :: START

section#anatomy.anatomy.anatomy--last
  .c-grid

    .anatomy__wrapper.anatomy__wrapper--center
      .anatomy__wrapper-left
        div

          h2.anatomy__title.c-title get Your Best Nose
          p.anatomy__desc.c-desc If you’re dissatisfied with the size and shape of your nose or if you suffer from breathing problems, nose surgery may help. Rhinoplasty is a popular and effective procedure with very high success rates. Plastic surgeon Dr. Costa aims to enhance your nose — so your entire face appears more attractive and proportionate. Even minor adjustments can lead to an impressive improvement in terms of function and appearance. Contact Platinum Plastic Surgery in Las Vegas, NV, to schedule an appointment.

      .anatomy__wrapper-right

        img(src="img/img-anatomy-1.jpg" srcset="img/img-anatomy-1@2x.jpg 2x" alt="")

// SECTION :: END
