// SECTION :: START

section#expect.expect
  .c-grid
    .expect__wrapper(data-aos="fade-up")

      h2.expect__title.c-title.c-title--center.c-title--small(data-aos="fade-up") What to expect during rhinoplasty
      p.expect__desc.c-desc.c-desc--center(data-aos="fade-up") Nose surgery is performed while the patient is under general anesthesia. Rhinoplasty can be performed using different techniques depending on what is being addressed. Dr. Costa employs an open or closed (endonasal) approach. During surgery, we carefully alter the underlying structures. This may include removing excess bone or moving the bone to give the desired profile. The cartilage may be reshaped to build a better foundation for the overlying tissues.
      p.expect__desc.c-desc.c-desc--center(data-aos="fade-up") Once the nasal features are repositioned, and the skin is draped over the newly structured framework, absorbable stitches are positioned on the inside portion of the nose, and small stitches are placed at the hidden incision site. The new structure is supported with soft splints on the inside and outside of the nose to protect the shape as it heals.

// SECTION :: END
