// SECTION :: START

section#recovery.recovery
  .c-grid
    .recovery__wrapper
      .recovery__wrapper-left

        img(src="img/img-recovery.jpg" srcset="img/img-recovery@2x.jpg 2x" alt="")

      .recovery__wrapper-right

        h2.recovery__title.c-title.c-title--white How long is recovery after rhinoplasty?
        p.recovery__desc.c-desc.c-desc--white Nose surgery is performed while the patient is under general anesthesia. Rhinoplasty can be performed using different techniques depending on what is being addressed. Dr. Costa employs an open or closed (endonasal) approach. During surgery, we carefully alter the underlying structures. This may include removing excess bone or moving the bone to give the desired profile. The cartilage may be reshaped to build a better foundation for the overlying tissues.
        p.recovery__desc.c-desc.c-desc--white Once the nasal features are repositioned, and the skin is draped over the newly structured framework, absorbable stitches are positioned on the inside portion of the nose, and small stitches are placed at the hidden incision site. The new structure is supported with soft splints on the inside and outside of the nose to protect the shape as it heals.

// SECTION :: END
