// SECTION :: START

section#rhinoplasty.rhinoplasty
  .rhinoplasty__wrapper
    .rhinoplasty__wrapper-left

      img(src="img/img-rhinoplasty-1.jpg" alt="")

    .rhinoplasty__wrapper-middle

      p.rhinoplasty__label.c-label.c-label--center NOSE
      h2.rhinoplasty__title.c-title.c-title--center!= "What is <br>Rhinoplasty?"
      .rhinoplasty__desc.c-desc.c-desc--center
        p An ideal nose is both functional and cosmetically pleasing. Las Vegas, NV plastic surgeon Dr. Chris Costa has a passion for rhinoplasty, and it is one of his favorite procedures. Having trained with some of the top rhinoplasty surgeons in the world, Dr. Costa has developed a keen aesthetic eye and attention to detail that produces amazing, natural results.
        p Through cutting-edge rhinoplasty techniques, Platinum Plastic Surgery can address issues such as difficulty breathing and structural problems due to genetics or facial trauma. We also help patients who are unhappy with the appearance of their nose because it appears too wide, large, or misshapen. No matter your goals, Dr. Costa can discuss your specific needs and develop an individualized plan for success. Learn more by calling to schedule a rhinoplasty consultation today.

    .rhinoplasty__wrapper-right

      img(src="img/img-rhinoplasty-2.jpg" alt="")

// SECTION :: END
