// SECTION :: START

section#portfolio.portfolio
  .c-grid
    .portfolio__wrapper

      .portfolio__content
        img.portfolio__content-visual(src="img/icon-schedule.svg" alt="")
        h2.portfolio__heading.c-title.c-title--center(data-aos="fade-up")!= "Create the body <br>you imagine."
        p.portfolio__desc.c-desc.c-desc--center(data-aos="fade-up") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum sed nunc a ultrices. Mauris porttitor diam quis risus porta, vel viverra enim accumsan. Maecenas dignissim enim eget ante lobortis ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fermentum tempor mauris ut elementum. Sed at arcu in libero ullamcorper malesuada nec vel augue. Cras dapibus urna suscipit elit facilisis lacinia. Integer at ipsum varius, dictum sem nec, tempor arcu.

      p.portfolio__label.c-label(data-aos="fade-up") BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big(data-aos="fade-up") NOSE
      .portfolio__carousel.portfolio__carousel-1(data-aos="fade-up")
        .swiper.portfolioSwiper1
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-nose-1.jpg" srcset="img/img-portfolio-nose-1@2x.jpg 2x" alt="")
                p.c-title--white RHINOPLASTY
              .swiper-slide
                img(src="img/img-portfolio-nose-2.jpg" srcset="img/img-portfolio-nose-2@2x.jpg 2x" alt="")
                p.c-title--white ASIAN RHINOPLASTY
              .swiper-slide
                img(src="img/img-portfolio-nose-3.jpg" srcset="img/img-portfolio-nose-3@2x.jpg 2x" alt="")
                p.c-title--white ETHNIC RHINOPLASTY
              .swiper-slide
                img(src="img/img-portfolio-nose-4.jpg" srcset="img/img-portfolio-nose-4@2x.jpg 2x" alt="")
                p.c-title--white MALE RHINOPLASTY


      p.portfolio__label.c-label(data-aos="fade-up") BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big(data-aos="fade-up") BREAST
      .portfolio__carousel.portfolio__carousel-2(data-aos="fade-up")
        .swiper.portfolioSwiper2
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-breast-1.jpg" srcset="img/img-portfolio-breast-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-2.jpg" srcset="img/img-portfolio-breast-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-3.jpg" srcset="img/img-portfolio-breast-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-4.jpg" srcset="img/img-portfolio-breast-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white


      p.portfolio__label.c-label(data-aos="fade-up") BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big(data-aos="fade-up") body
      .portfolio__carousel.portfolio__carousel-3(data-aos="fade-up")
        .swiper.portfolioSwiper3
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-body-1.jpg" srcset="img/img-portfolio-body-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-2.jpg" srcset="img/img-portfolio-body-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-3.jpg" srcset="img/img-portfolio-body-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-4.jpg" srcset="img/img-portfolio-body-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white

      p.portfolio__label.c-label(data-aos="fade-up") BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big(data-aos="fade-up") Face
      .portfolio__carousel.portfolio__carousel-4(data-aos="fade-up")
        .swiper.portfolioSwiper4
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-face-1.jpg" srcset="img/img-portfolio-face-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-face-2.jpg" srcset="img/img-portfolio-face-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-face-3.jpg" srcset="img/img-portfolio-face-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-face-4.jpg" srcset="img/img-portfolio-face-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white

      p.portfolio__label.c-label(data-aos="fade-up") BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big(data-aos="fade-up") NON-SURGICAL
      .portfolio__carousel.portfolio__carousel-5(data-aos="fade-up")
        .swiper.portfolioSwiper5
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-non-surgical-1.jpg" srcset="img/img-portfolio-non-surgical-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-non-surgical-2.jpg" srcset="img/img-portfolio-non-surgical-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-non-surgical-3.jpg" srcset="img/img-portfolio-non-surgical-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-non-surgical-4.jpg" srcset="img/img-portfolio-non-surgical-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white

// SECTION :: END
