// SECTION :: START

.address {
  padding-bottom: 50px;
  @include adaptive(767) {
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;

    &-left,
    &-right {
      position: relative;
      width: 50%;
      height: 650px;
      @include adaptive(1535) {
        height: 600px;
      }
      @include adaptive(1439) {
        height: 550px;
      }
      @include adaptive(767) {
        width: 100%;
        height: 350px;
      }

      img {
        @extend %imageResCoverAbs;
      }
    }

    &-left {
      @include adaptive(767) {
        display: none;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1090px;
    padding: 35px 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/pattern-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include adaptive(1279) {
      padding: 25px;
    }

    > div {
      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive(767) {
          flex-direction: column;
          align-items: flex-start;
        }

        p {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          color: #fff;
          @include adaptive(767) {
            padding-bottom: 30px;
            font-size: 16px;
            line-height: 25px;
          }
        }

        .c-btn {
          border-color: transparent;

          &__wrapper {
            @include adaptive(767) {
              justify-content: center;
              width: 100%;
            }
          }
        }
      }
    }

    .c-title {
      text-transform: unset;
    }
  }
}

// SECTION :: END
