---
title: Dr.Costa

pageClassName: p-home
---
extends shared/_layout

block content
  main.main(class!= pageClassName)

    +mainSection('home', 'img-main--home', 'Enhance<br>your natural<br>beauty', '')

