---
title: Dr.Costa | Rhinoplasty

pageClassName: p-rhinoplasty
---
extends shared/_layout

block content
  main.main(class!= pageClassName)

    +mainSection('rhinoplasty', 'img-main--rhinoplasty', 'rhinoplasty', ["HOME", "|", "PROCEDURES", "|", "NOSE", "|", "RHINOPLASTY"])

    include components/rhinoplasty/rhinoplasty

    include components/common/gallery

    include components/rhinoplasty/anatomy
    include components/rhinoplasty/expect
    include components/rhinoplasty/recovery
    include components/rhinoplasty/faq
    include components/rhinoplasty/anatomy-1

    include components/common/patients
    include components/common/reviews
    include components/common/schedule
    include components/common/patient-resources
