// FOOTER :: START

footer#footer.footer(data-aos="fade-up" data-aos-offset='0')
  .c-grid
    .footer__wrapper.footer__wrapper-1

      .logo.logo--footer
        a.logo__btn(href="#")
          img(src="img/logo.svg" alt="")

    .footer__wrapper.footer__wrapper-2
      .footer__wrapper-left

        nav.footer__menu
          a(href="#" data-hover='HOME') HOME
          a(href="#" data-hover='ABOUT') ABOUT
          a(href="#" data-hover='PROCEDURES') PROCEDURES
          a(href="#" data-hover='GALLERY') GALLERY
          a(href="#" data-hover='RESOURCES') RESOURCES
          a(href="#" data-hover='CONTACT') CONTACT

        .footer__address
          a(href="tel:7252239922" data-hover='725-223-9922') 725-223-9922
          p 870 Seven Hills Drive Ste 101
          p Henderson, NV 89052

      .footer__wrapper-right
        .footer__wrapper-top

          nav.footer__social
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-instagram

        .footer__wrapper-bottom

          nav.footer__tos
            a(href="#" data-hover='Sitemap') Sitemap
            span |
            a(href="#" data-hover='Privacy Policy') Privacy Policy
            span |
            a(href="#" data-hover='HIPAA Privacy Policy') HIPAA Privacy Policy
            span |
            a(href="#" data-hover='Terms of Use') Terms of Use

          .copyright Copyright © 2022 PLATINUM PLASTIC SURGERY. All Rights Reserved.

// FOOTER :: END
