// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__overlay
  .menu__container

    .menu__wrapper
      .menu__wrapper-top

        .logo.logo--menu
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

        a.menu__close(href="#")
          i.icon-font.icon-close

      .menu__wrapper-middle
        div

          nav.menu__btn-wrapper
            a.menu__btn(href="#" data-id='1')
              span About
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='2')
              span NOSE
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='3')
              span BREAST
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='4')
              span BODy
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='5')
              span FACE
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='6')
              span NON-SURGICAL
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='7')
              span GALLERY
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='8')
              span RESOURCE
              i.icon-font.icon-corner
            a.menu__btn(href="#")
              span CONTACT
              i.icon-font.icon-corner

        div

          .menu__content-wrapper
            .menu__content(data-content-id='1')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='2')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='3')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='4')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='5')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='6')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='7')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='8')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

      .menu__wrapper-bottom
        div

          .header__address
            a(href="tel:7252239922") 725-223-9922
            p | LAS VEGAS, NV

        div

          .c-btn__wrapper
            a.c-btn(href="#")
              i
              span MY PATIENT NOW

            a.c-btn(href="#")
              i
              span VIRTUAL CONSULTATION

        div
          .footer__social
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-instagram

// SECTION :: END
