// SECTION :: START

section#gallery.gallery
  .c-grid
    .gallery__wrapper

      .gallery__header.c-header.c-header--center(data-aos="fade-up")
        div
          p.c-label BEFORE & AFTERS
          h2.c-title Gallery
        div
          span!= "Results speak for <br>themselves."

      .gallery__box-wrapper
        div
          .gallery__box-row
            div(data-aos="fade-up")
              .gallery__box
                img(src="img/img-gallery-before-1.jpg" srcset="img/img-gallery-before-1@2x.jpg 2x" alt="")
                p Before
            div(data-aos="fade-up")
              .gallery__box
                img(src="img/img-gallery-after-1.jpg" srcset="img/img-gallery-after-1@2x.jpg 2x" alt="")
                p After
        div
          .gallery__box-row
            div(data-aos="fade-up")
              .gallery__box
                img(src="img/img-gallery-before-2.jpg" srcset="img/img-gallery-before-2@2x.jpg 2x" alt="")
                p Before
            div(data-aos="fade-up")
              .gallery__box
                img(src="img/img-gallery-after-2.jpg" srcset="img/img-gallery-after-2@2x.jpg 2x" alt="")
                p After

      .gallery__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up")
        a.c-btn(href="#")
          i
          span VIEW GALLERY

// SECTION :: END
