// SECTION :: START

section#patients.patients
  .c-grid
    .patients__wrapper
      .patients__wrapper-left

        .patients__header.c-header.c-header--white
          div
            p.c-label.c-label--white Out-of-Town
            h2.c-title.c-title--white PATIENTS
          div
            span We’re Here to Help You
            span Every Step of the Way

        p.patients__desc.c-desc.c-desc--white As a board certified plastic surgeon in Las Vegas, Dr. Chris Costa works with patients from all over the world who want expert care in a private, convenient setting. The Platinum Plastic Surgery staff is dedicated to making the process positive for our out-of-town patients, and we will work with you every step of the way to ensure your travels and surgical experience are safe, successful, and convenient.

        .patients__btn.c-btn__wrapper
          a.c-btn(href="#")
            i
            span LEARN MORE

      .patients__wrapper-right
        img(src="img/img-patients-bg.jpg" srcset="img/img-patients-bg@2x.jpg 2x" alt="")

// SECTION :: END
