// SECTION :: START

section#patient-resources.patient-resources
  .c-grid
    .patient-resources__wrapper

      p.patient-resources__label.c-label.c-label--center PATIENT
      h2.patient-resources__title.c-title.c-title--small.c-title--center PATIENT RESOURCES
      p.patient-resources__desc.c-desc.c-desc--center We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

      .patient-resources__box-wrapper
        div
          .patient-resources__box
            .patient-resources__box-head
              .c-header.c-header--white
                div
                  p.c-label.c-label--white PLASTIC SURGERY
                  p.c-title.c-title--white FINANCING
                div
                  span 100% Attention.
                  span 0% Interest.*
            .patient-resources__box-body

              nav
                a(href="#")
                  img(src="img/logo-carecredit.svg" alt="")
                a(href="#")
                  img(src="img/logo-alphaeon.svg" alt="")

            .patient-resources__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span LEARN MORE
        div
          .patient-resources__box
            .patient-resources__box-head
              .c-header.c-header--white
                div
                  p.c-label.c-label--white LEAVE A
                  p.c-title.c-title--white REVIEW
                div
                  span We believe in building lifelong relationships with our patients.
            .patient-resources__box-body

              nav
                a(href="#")
                  i.icon-font.icon-facebook
                a(href="#")
                  i.icon-font.icon-google
                a(href="#")
                  i.icon-font.icon-is
                a(href="#")
                  i.icon-font.icon-star-logo
                a(href="#")
                  i.icon-font.icon-heart-logo

            .patient-resources__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span LEAVE A REVIEW
        div
          .patient-resources__box
            .patient-resources__box-head
              .c-header.c-header--white
                div
                  p.c-label.c-label--white VIRTUAL
                  p.c-title.c-title--white CONSULT
                div
                  span Visiting our office is easier than ever!
            .patient-resources__box-body
              p.c-desc.c-desc--white!= "Platinum Plastic Surgery is now conveniently offering online consultations. Meet with us virtually from the comfort of your own home. Our Virtual Consultation is <strong>FREE</strong>!"
            .patient-resources__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span CLICK HERE
        div
          .patient-resources__box
            .patient-resources__box-head
              .c-header.c-header--white
                div
                  p.c-label.c-label--white MY PATIENT
                  p.c-title.c-title--white NOW
                div
                  span Focus on Patients
                  span Not Paperwork
            .patient-resources__box-body
              p.c-desc.c-desc--white All medical records, charts, forms, photos, videos, correspondence and clinical notes are conveniently stored together and accessible from any device.
            .patient-resources__box-footer
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  i
                  span CLICK HERE

// SECTION :: END
