// SECTION :: START

.education {
  padding-top: 75px;
  padding-bottom: 75px;
  @include adaptive(1279) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive(1279) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 100%;
      max-width: 400px;
      @include adaptive(1365) {
        max-width: 300px;
      }
      @include adaptive(1279) {
        max-width: 50%;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        @include adaptive(1279) {
          position: relative;
          width: 100%;
          height: 350px;
          object-fit: cover;
          object-position: center;
        }
        @include adaptive(767) {
          height: 250px;
        }
      }
    }

    &-middle {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      @include adaptive(1535) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include adaptive(1279) {
        order: 1;
        flex: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
      @include adaptive(767) {
        padding-left: 10px;
        padding-right: 10px;
      }

      > div {
        width: 100%;
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
        @include adaptive(1279) {
          max-width: 100%;
          padding-bottom: 50px;
        }
      }
    }

    &-left {
      @include adaptive(1279) {
        order: 2;
      }
    }

    &-right {
      @include adaptive(1279) {
        order: 3;
      }
    }
  }

  &__desc {
    & + .education__desc {
      padding-top: 30px;
    }
  }
}

// SECTION :: END
