// DESC :: START

.c-desc {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 38px;
  color: #000;
  @include adaptive(1279) {
    font-size: 14px;
    line-height: 32px;
  }

  &--center {
    text-align: center;
  }

  &--white {
    color: $c-white;
  }

  strong {
    font-weight: bold;
  }
}

// DESC :: END
