// LOGOTYPE :: START

.logo {
  display: flex;

  &.logo--header {
    @include adaptive(1439) {
      max-width: 275px;
    }
    @include adaptive(1023) {
      max-width: 225px;
    }
    @include adaptive(767) {
      max-width: 175px;
    }
  }

  &.logo--menu {
    max-width: 207px;
    @include adaptive(767) {
      max-width: 175px;
    }
  }

  &.logo--footer {
    max-width: 207px;
    @include adaptive(767) {
      max-width: 175px;
    }
  }

  &__btn {
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
