// HEADER :: START

.c-header {
  display: flex;
  align-items: center;
  @include adaptive(767) {
    flex-wrap: wrap;
  }

  &.c-header--center {
    justify-content: center;
  }

  &.c-header--white {
    > div {
      &:nth-of-type(1) {
        &:after {
          background-color: $c-white;
        }
      }
    }

    span {
      color: $c-white;
    }
  }

  > div {
    @include adaptive(767) {
      width: 100%;
    }

    &:nth-of-type(1) {
      position: relative;
      margin-right: 20px;
      padding-right: 20px;
      @include adaptive(767) {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 2px;
        height: 60px;
        background-color: $c-black;
        @include adaptive(767) {
          bottom: 0;
          width: 100%;
          height: 2px;
        }
      }
    }
  }

  .c-title {
    padding-bottom: 0;
  }

  span {
    display: block;
    @extend %fontsMinerva;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #000;
    @include adaptive(1023) {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

// HEADER :: END
