// SECTION :: START

.reviews {
  position: relative;
  padding-top: 40px;
  padding-bottom: 140px;
  @include adaptive(1279) {
    padding-bottom: 100px;
  }
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__bg {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 180px);

    img {
      display: block;
      width: 100%;
      max-width: 831px;
      height: auto;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 152px;
    padding-bottom: 84px;
    @include adaptive(1279) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include adaptive(767) {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  &__header {
    padding-bottom: 100px;
    @include adaptive(1439) {
      padding-bottom: 75px;
    }
    @include adaptive(767) {
      padding-bottom: 40px;
    }
  }

  &__carousel {
    width: 100%;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;

    .swiper {
      &-slide {
        p {
          font-size: 50px;
          line-height: 70px;
          text-align: center;
          color: #000;
          @extend %fontsMinerva;
          @include adaptive(1535) {
            font-size: 40px;
            line-height: 60px;
          }
          @include adaptive(1279) {
            font-size: 35px;
            line-height: 55px;
          }
          @include adaptive(767) {
            font-size: 25px;
            line-height: 35px;
          }
        }
      }

      &-pagination {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 85px;
        @include adaptive(1023) {
          padding-top: 50px;
        }
        @include adaptive(767) {
          padding-top: 40px;
        }

        &-bullet {
          opacity: 1;
          width: 25px;
          height: 25px;
          margin-left: 12px !important;
          margin-right: 12px !important;
          background-color: #d2dee6;
          @include transition(background-color);
          @include adaptive(767) {
            width: 15px;
            height: 15px;
            margin-left: 5px !important;
            margin-right: 5px !important;
          }

          &-active {
            background-color: $c-blue;
            @include transition(background-color);
          }
        }
      }
    }
  }
}

// SECTION :: END
