// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper.about__wrapper-1

      .about__content
        img(src="img/img-logo-manu.svg" alt="")
        h2.about__title.c-title.c-title--center platinum
        p.about__subtitle plastic surgery
        p.about__heading Our Henderson, NV office is a modern, brand new facility that serves as a safe place for Dr. Costa to perform consultations and minor procedures.

    .about__wrapper.about__wrapper-2
      div

        p.about__desc.c-desc.c-desc--white Our office is located in the upscale Seven Hills area of Henderson, NV, just over 15 minutes from the Las Vegas Strip. This modern facility has been newly designed to service our clients in and around this area. Complimentary reserved parking is located in front of our office for your convenience. Our reception area features elegant, stylish decor and plenty of seating for you to relax as you await your appointment. Our front office staff will also be happy to help make your visit go smoothly and answer any questions regarding your check-in. We provide three comfortable consultation rooms with 3D imaging technology that allow Dr. Chris Costa to meet with you individually and privately discuss your future goals, cosmetic desires, and current concerns.
        .about__btn.c-btn__wrapper
          a.c-btn(href="#")
            i
            span READ MORE

      div
        img(src="img/img-about.jpg" srcset="img/img-about@2x.jpg 2x" alt="")

// SECTION :: END
