// SECTION :: START

section#club.club
  .c-grid
    .club__wrapper
      div

        .club__header.c-header
          div
            p.c-label CLUB
            h2.c-title Platinum
          div
            span Personalized treatment plans.
            span Highest quality products

        p.club__desc.c-desc Take your skin care to the platinum level and see amazing results. The purpose of Platinum Club is to develop a personalized plan for each of our members that will improve their skin to keep them glowing. Our members receive free personalized treatment plans to keep them looking their best.

        .club__btn.c-btn__wrapper
          a.c-btn(href="#")
            i
            span LEARN MORE

      div
        img(src="img/img-club.jpg" alt="")

// SECTION :: END
