// SECTION :: START

section#md.md

  .md__bg

  .c-grid

    .md__container
      p.md__label.c-label MEET THE DOCTOR
      h2.md__title.c-title CHRISTOPHER COSTA, MD

      .md__wrapper
        div

          img(src="img/img-md.jpg" srcset="img/img-md@2x.jpg 2x" alt="")

        div

          p.md__desc.c-desc Dr. Chris Costa is a Nevada native who serves the greater Las Vegas and Henderson area through his private plastic surgery practice, Platinum Plastic Surgery. Dr. Costa specializes in providing cosmetic procedures of the face and body to individuals who are seeking to enhance their aesthetic appearance while also improving function and achieving a natural look.
          p.md__desc.c-desc Dr. Costa is passionate about providing the latest techniques and services to his clients, constantly staying at the forefront of research in the industry and incorporating innovative ways to create the best outcomes for his patients.

          .md__btn.c-btn__wrapper
            a.c-btn(href="#")
              i
              span LEARN MORE

          img(src="img/img-meet-2.png" srcset="img/img-meet-2@2x.png 2x" alt="")

          img.md__best(src="img/best-badge.svg" alt="")


// SECTION :: END
