// SECTION :: START

section#team.team
  .c-grid

    img.team__cover(src="img/img-team.jpg" srcset="img/img-team@2x.jpg 2x" alt="" data-aos="fade-up")

    .team__wrapper

      div(data-aos="fade-up")
        img.team__logo(src="img/icon-schedule.svg" alt="")

      .c-header.c-header--white(data-aos="fade-up")
        div
          h2.c-title.c-title.c-title--white OUR TEAM
        div
          span Genuine
          span Patient Care

      p.c-desc.c-desc--white(data-aos="fade-up") Genuine patient care is our highest mission at Platinum Plastic Surgery. We pledge to provide the finest personal service and facilities for our patients who will always enjoy warm, relaxed, yet refined ambiance.


// SECTION :: END
