-
  const project = 'Dr. Costa';
  const pages = [{
      name: 'Home',
      href: 'index.html',
      progress: '1'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '0'
    }, {
      name: 'Meet',
      href: 'meet.html',
      progress: '0'
    }, {
      name: 'Procedures',
      href: 'procedures.html',
      progress: '0'
    }, {
      name: 'Rhinoplasty',
      href: 'rhinoplasty.html',
      progress: '0'
    }, {
      name: 'Gallery',
      href: 'gallery.html',
      progress: '0'
    }, {
      name: 'Resources',
      href: 'resources.html',
      progress: '0'
    }, {
      name: 'Contacts',
      href: 'contacts.html',
      progress: '0'
    }
  ];
