// SECTION :: START

section#procedures.procedures
  .c-grid
    .procedures__wrapper

      .procedures__content
        img.procedures__content-visual(src="img/icon-schedule.svg" alt="")
        h2.procedures__heading.c-title.c-title--center!= "Compassionate care. <br>Beautiful results."
        p.procedures__desc.c-desc.c-desc--center From the sexy curves of breast augmentation to the latest skincare treatments, we have what it takes to keep you looking beautiful. If you are considering breast enlargement surgery in Houston, our team of highly-trained professionals deliver compassionate care and beautiful results in a comfortable, luxurious setting where your vision of beauty becomes reality.

    .procedures__box-wrapper
      div
        .procedures__box
          .procedures__box-left

            .procedures__box-header.c-header
              div
                p.c-title NOSE
              div
                span Nose reshaping surgeries that are tailored to each patient.

            p.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

          .procedures__box-right
            .procedures__block-wrapper
              a.procedures__block(href="#")
                p RHINOPLASTY
              a.procedures__block(href="#")
                p ASIAN RHINOPLASTY
              a.procedures__block(href="#")
                p ETHNIC RHINOPLASTY
              a.procedures__block(href="#")
                p MALE RHINOPLASTY
              a.procedures__block(href="#")
                p REVISION RHINOPLASTY
      div
        .procedures__box
          .procedures__box-left

            .procedures__box-header.c-header
              div
                p.c-title BREAST
              div
                span Surgeries that augment, lift, and improve the breasts.

            p.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

          .procedures__box-right
            .procedures__block-wrapper
              a.procedures__block(href="#")
                p BREAST AUGMENTATION + LIFT
              a.procedures__block(href="#")
                p BREAST AUGMENTATION
              a.procedures__block(href="#")
                p BREAST LIFT
              a.procedures__block(href="#")
                p BREAST REDUCTION
              a.procedures__block(href="#")
                p BREAST REVISION
              a.procedures__block(href="#")
                p GYNECOMASTIA
              a.procedures__block(href="#")
                p BREAST RECONSTRUCTION
      div
        .procedures__box
          .procedures__box-left

            .procedures__box-header.c-header
              div
                p.c-title BODY
              div
                span Body shaping and contouring treatments for an improved figure.

            p.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

          .procedures__box-right
            .procedures__block-wrapper
              a.procedures__block(href="#")
                p AFTER WEIGHT LOSS SURGERY
              a.procedures__block(href="#")
                p BRAZILIAN BUTT LIFT
              a.procedures__block(href="#")
                p LABIAPLASTY
              a.procedures__block(href="#")
                p LIPOSUCTION
              a.procedures__block(href="#")
                p MOMMY MAKEOVER
              a.procedures__block(href="#")
                p TUMMY TUCK
              a.procedures__block(href="#")
                p MINI TUMMY TUCK
      div
        .procedures__box
          .procedures__box-left

            .procedures__box-header.c-header
              div
                p.c-title FACE
              div
                span Treatments that refine and enhance the facial features.

            p.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

          .procedures__box-right
            .procedures__block-wrapper
              a.procedures__block(href="#")
                p ASIAN EYELID SURGERY
              a.procedures__block(href="#")
                p Chin Augmentation
              a.procedures__block(href="#")
                p Ear Surgery
              a.procedures__block(href="#")
                p Eyelid Surgery
              a.procedures__block(href="#")
                p FACELIFT AND NECK LIFT
              a.procedures__block(href="#")
                p BUCCAL FAT REMOVAL AND V LINE
              a.procedures__block(href="#")
                p LIP LIFT
              a.procedures__block(href="#")
                p FACIAL RECONSTRUCTION
      div
        .procedures__box
          .procedures__box-left

            .procedures__box-header.c-header
              div
                p.c-title!= "NON <br>SURGICAL"
              div
                span Treatments for noninvasive facial rejuvenation.

            p.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.

          .procedures__box-right
            .procedures__block-wrapper
              a.procedures__block(href="#")
                p Neurotoxins
              a.procedures__block(href="#")
                p Facial Peels
              a.procedures__block(href="#")
                p Lip Fillers
              a.procedures__block(href="#")
                p Liquid Rhinoplasty
              a.procedures__block(href="#")
                p Tear Trough Under Eye Filler
              a.procedures__block(href="#")
                p Liquid Facelift
              a.procedures__block(href="#")
                p ZO Skin Health
              a.procedures__block(href="#")
                p Laser Skin Resurfacing
              a.procedures__block(href="#")
                p RF Microneedling

// SECTION :: END
