// SECTION :: START

.financing {
  padding-top: 100px;
  padding-bottom: 75px;
  @include adaptive(1279) {
    padding-bottom: 50px;
  }
  @include adaptive(767) {
    padding-bottom: 30px;
  }

  &__desc {
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 55px 40px 20px;
    background-image: url('../img/pattern-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include adaptive(1335) {
      padding-top: 40px;
    }
    @include adaptive(767) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-head {
      height: 45px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-body {
      flex: 1;
      min-height: 1px;
      max-height: 100%;
      padding-top: 50px;
      padding-bottom: 30px;
      @include adaptive(1365) {
        padding-top: 30px;
        padding-bottom: 15px;
      }
    }

    &-footer {
      .c-btn {
        border-color: transparent;

        i {
          &:before,
          &:after {
            background-color: $c-white;
          }
        }
      }
    }

    &-wrapper {
      position: relative;
      left: -20px;
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 20px);

      > div {
        width: 100%;
        max-width: calc(100% / 2);
        padding-left: 20px;
        @include adaptive(767) {
          max-width: 100%;
          padding-bottom: 20px;
        }
      }
    }
  }
}

// SECTION :: END
